/*
	Folio by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		min-width: 960px;
	}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		padding: 0.5em 0 0.65em 0;
	}
	
	#main-wrapper
	{
		padding: 1em 0 0 0;
	}
	
	#footer-wrapper
	{
		padding: 1em 0 0 0;
	}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/
	
	.dropotron-level-0
	{
		margin-top: 0.5em;
	}